<div id="<%= dom_id artwork %>">
  <%= link_to artwork_path(artwork) do %>
    <%= image_tag artwork.image, class: "card_image" %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h5>
        <strong><%= artwork.title %></strong>
      </h5>

      <p>
        <strong>Description:</strong>
        <%= artwork.description %>
      </p>

    </div>

    <div class="card-trip-pricing">

    </div>
    <% if artwork.user.avatar.attached? %>
              <%= image_tag artwork.user.avatar, class: "card-trip-user avatar-bordered"%>
            <% else %>
              <%= image_tag "avatarphoto", class: "card-trip-user avatar-bordered", alt: "Logo" %>
            <% end %>
  </div>
</div>
