<div id="<%= dom_id artwork %>">
  <p style="text-align: center;">
    <strong></strong>
    <%= image_tag artwork.image, width: 150 %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= artwork.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artwork.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= artwork.user_id %>
  </p>

</div>
