<div id="<%= dom_id artwork %>">
  <% if artwork.image.attached? %>
    <p style="text-align: center;", id="image_show">
      <%= image_tag artwork.image, height: 200, id: "card_image" %>
    </p>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= artwork.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artwork.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= artwork.user.nickname %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= "#{artwork.size} cm" %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(artwork.price.round(2).round(0.05), unit: "CHF", format: "%n %u") %>
  </p>
</div>
