<%= render "navbar" %>

<h1>Editing artwork</h1>

<%= render "form", artwork: @artwork %>

<br>

<div>
  <%= link_to "Show this artwork", @artwork %> |
<<<<<<< HEAD
  <%= link_to "Back to artworks", root_path %>
=======
  <%= link_to "Back to artworks", artworks_path %> |
  <%= link_to "Delete this artwork", artwork_path(@artwork), data:{turbo_method: :delete} %>
>>>>>>> master
</div>
