<% content_for :navbar do %>
  <%= render 'artworks/navbar' %>
<% end %>

<h1>Editing artwork</h1>

<%= render "form", artwork: @artwork %>

<br>

<div>
  <%= link_to "Show this artwork", @artwork %> |
  <%= link_to "Back to artworks", artworks_path %> |
  <%= link_to "Delete this artwork", artwork_path(@artwork), data:{turbo_method: :delete} %>
</div>

<% content_for :footer do %>
  <%= render 'artworks/footer' %>
<% end %>
