<% content_for :navbar do %>
  <%= render 'artworks/navbar' %>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="container-text">
  <h1 class="first-page-title">ArtVista</h1>
</div>

<!-- app/views/your_view.html.erb -->
<div id="artworks" data-controller="artworks">
  <% if @artworks.any? %>
    <% @artworks.first(30).each do |artwork| %>
      <div class="col-md-6">
        <%= render artwork %>
        <p>
          <%= link_to "Show this artwork", artwork_path(artwork) %>
        </p>
      </div>
    <% end %>
    <div id="show-more-container">
      <button data-action="click->artworks#showMore" data-target="artworks.showMoreBtn">
        Show More
      </button>
    </div>
  <% else %>
    <p>No artworks available.</p>
  <% end %>
</div>

<% content_for :footer do %>
  <%= render 'artworks/footer' %>
<% end %>
