<% content_for :navbar do %>
  <%= render 'artworks/navbar' %>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="container-text">
  <h1 class="first-page-title">ArtVista</h1>
</div>

<div class="border border-1 p-3" >
  <%= render "search" %>
</div>

<div id="artworks" data-controller="artworks" data-action="click->artworks#showMore">
  <% if @artworks.any? %>
    <div class="artworks-container">
      <% @artworks.first(18).each do |artwork| %>
        <div class="card-trip col-md-4">
          <%= render artwork %>
          <p>
            <%= link_to "Show this artwork", artwork_path(artwork) %>
          </p>
        </div>
      <% end %>
    </div>
    <div id="show-more-container" class="centered_btn" data-target="artworks.showMoreBtn">
      <button>
        Show More
      </button>
    </div>
  <% else %>
    <p>No artworks available.</p>
  <% end %>
</div>

<% content_for :footer do %>
  <%= render 'artworks/footer' %>
<% end %>
