<% content_for :navbar do %>
  <%= render 'artworks/navbar' %>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-8">
    <%= render partial: "artworks/artwork_with_size_and_price", locals: { artwork: @artwork } %>

  </div>

  <div class="col-4">
    <%= render partial: "reservations/booking", reservation: @reservation %>
  </div>
</div>


<div>
  <%# check if the current user is the owner of the artwork %>
  <% if current_user %>
    <%= link_to "Edit this artwork", edit_artwork_path(@artwork) %> |
  <% end %>
  <%= link_to "Back to artworks", root_path %>
</div>

<% content_for :footer do %>
  <%= render 'artworks/footer' %>
<% end %>
