<%= render "navbar" %>

<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-8">
    <%= render @artwork %>
  </div>

  <div class="col-4">
    <%= render partial: "reservations/booking", reservation: @reservation %>
  </div>
</div>


<div>
  <%# check if the current user is the owner of the artwork %>
  <% if current_user %>
    <%= link_to "Edit this artwork", edit_artwork_path(@artwork) %> |
  <% end %>
  <%= link_to "Back to artworks", artworks_path %>
</div>
