<div id="<%= dom_id user %>">

  <div class="notification">
  <% if user.avatar.attached? %>
          <%= image_tag user.avatar, width: 150, class: "avatar-large" %>
        <% end %>
    <div class="notification-content">
      <p><strong><%= user.nickname %></strong></p>
      <p><%= user.address %></p>
    </div>

    <div class="notification-actions">
      <%= link_to "Edit this user", user_edit_path(@user) %> <i class="fas fa-pencil-alt"></i></a>
      <%= link_to "Back to artworks", root_path %> <i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>
