<div id="<%= dom_id user %>">

  <div class="notification">
  <% if user.avatar.attached? %>
          <%= render partial: 'users/user_avatar', locals: { user: user } %>
  <% else %>
          <%= image_tag "avatarphoto", alt: "Logo", width: 150, class: "avatar-large" %>
  <% end %>
    <div class="notification-content">
      <p><strong><%= user.nickname %></strong></p>
      <p><%= user.address %></p>
    </div>

    <div class="notification-actions">
      <%= link_to "Edit this user", user_edit_path(@user) %> <i class="fas fa-pencil-alt"></i></a>
    </div>
  </div>
</div>
