<% content_for :navbar do %>
  <%= render 'artworks/navbar' %>
<% end %>

<h1>My reservations</h1>

<% @reservations.each do |reservation| %>
  <%= image_tag reservation.artwork.image, class: "your-image-class" %>
  <p><strong>Artwork:</strong> <%= reservation.artwork.title %></p>
  <p><strong>Start Date:</strong> <%= reservation.start_date %></p>
  <p><strong>End Date:</strong> <%= reservation.end_date %></p>
<% end %>
